#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Communicator
GenericName=SIP client
Comment=Fully featured, easy to use SIP client with a Qt based UI
X-GNOME-FullName=Communicator SIP client
Type=Application
Exec=/app/Communicator/bin/communicator %u
Icon=com.bicomsystems.communicator
StartupWMClass=Communicator
StartupNotify=false
Terminal=false
Categories=Qt;Network;Telephony;
